{% extends 'base.html' %}
{% load static %}
{% block title %}Home - My Website{% endblock %}

{% block content %}
 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner banner-card">
    <div class="carousel-item active">
        <img src="{% static 'famy/zum.png' %}" class="d-block w-100" alt="Slide 1">
        <div class="banner-text my-4"> 
          <h2> We<br>are<br> Meyenite<br>you are Welcome</h2>
            
          </div>
    </div>
   
    <div class="carousel-item">
      <img src="{% static 'famy/zum.png' %}" class="d-block w-100" alt="Slide 2">
      <div class="banner-text">
        <h2> We<br>are<br> Meyenite<br>you are Welcome</h2>
       
      </div>
     </div>
  
    <div class="carousel-item">
      <img src="{% static 'famy/zum.png' %}" class="d-block w-100" alt="Slide 3">
      <div class="banner-text">
          <h2> We<br>are<br> Meyenite<br>you are Welcome</h2>
          
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mey">
  <h4>Meyenite !</h4>
    
    <p >This is the home page content.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aaliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec efficitur lorem. Sed id lectus a nibh sodales viverra. Integer vel ultrices lectus, eu dapibus eros. Donec nibh mauris, pulvinar posuere vestibulum eget, semper vel nibh. Vestibulum dictum mi ac elit efficitur, eu dignissim odio malesuada. Ut odio justo, ornare id lorem eget, vulputaLorem ipsum dolor sit amet, consectetur adipiscing elit. In nec efficitur lorem. Sed id lectus a nibh sodales viverra. Integer vel ultrices lectus, eu dapibus eros. Donec nibh mauris, pulvinar posuere vestibulum eget, semper vel nibh. Vestibulum dictum mi ac elit efficitur, eu dignissim odio malesuada. Ut odio justo, ornare id lorem eget, vulputa.</p>
</div>
    <div class="container-fluid my-3">
  
    <h4>Welcome Clements !</h4>
    
    <p >This is the home page content.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
                
     
<h4> Lorem Ipsum !</h4>
    
    <p>This is the home page content.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    
  <h4> see the man</h4>
                          
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec efficitur lorem. Sed id lectus a nibh sodales viverra. Integer vel ultrices lectus, eu dapibus eros. Donec nibh mauris, pulvinar posuere vestibulum eget, semper vel nibh. Vestibulum dictum mi ac elit efficitur, eu dignissim odio malesuada. Ut odio justo, ornare id lorem eget, vulputate varius nunc. Sed massa ante, scelerisque ac tincidunt at, interdum non erat. Suspendisse lobortis augue eros, id condimentum leo dapibus quis. Sed tincidunt ante eu magna laoreet, at faucibus ante vulputate. Praesent vel tincidunt mauris. In condimentum eget lorem ut molestie.

Fusce tempus eget risus sed vehicula. Mauris fringilla lorem at justo ultrices malesuada. Quisque laoreet magna quis purus fermentum, non dapibus augue condimentum. Pellentesque ut imperdiet ipsum, quis fermentum massa. Nulla et ex accumsan, blandit arcu et, feugiat mauris. Etiam quis elit vitae libero pellentesque dignissim vel ac arcu. Aliquam fermentum purus cursus efficitur consequat. Vivamus venenatis eu ante non pharetra. Phasellus et pellentesque orci. Vivamus malesuada porta sollicitudin. Phasellus fringilla magna quis nulla cursus, congue interdum felis placerat. Etiam eu lacus purus.
</p>

<div class="article-row">
  <div class=" article-container">
    <h2>Title of the Article</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices odio eu libero luctus, sit amet cursus nisi pellentesque.
    </p>
    <button class="see-more-btn">See More</button>
  </div>

  <div class="article-container">
    <h2>Title of the Article</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices odio eu libero luctus, sit amet cursus nisi pellentesque.
    </p>
    <button class="see-more-btn">See More</button>
  </div>

  <div class="article-container">
    <h2>Title of the Article</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices odio eu libero luctus, sit amet cursus nisi pellentesque.
    </p>
    <button class="see-more-btn">See More</button>
  </div>
</div>


</div>

{% endblock %}

